body{
    padding: 0;
    margin: 0;
    font-family: "Arial";
    background-color: white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #ccffff;
    color: black;
    height: 12vh;
    font-size: xx-large;
    font-weight: bold;
}

#students-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 85vh;
    margin-bottom: 10%;
}

.student-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name"
    "country"
    "gender"
    "age";
    gap: 5px;
    background-color: #ccffff;
    border-radius: 10px;
    margin: 10% 30% 0px 30%;
    box-shadow: 10px 15px 19px -2px rgba(0,0,0,0.15);
}

.name-container{
    font-size: large;
    font-weight: bold;
    grid-area: name;
    align-self: center;
    text-align: center;
}

.country-container{
    grid-area: country;
    align-self: center;
    text-align: center;
}

.gender-container{
    grid-area: gender;
    align-self: center;
    text-align: center;
}

.age-container{
    grid-area: age;
    align-self: center;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccffff;
    color: black;
    height: 15vh;
}